<h1>Data science tools and Ecosystem</h1>

<p>In this notebook, Data Science Tools and Ecosystem are summarised.</p>

<h5>Objectives:</h5>
<ul>
    <l>Popular languages in data science</l><br>
    <l>Libraries in data science</l><br>
    <l>Data science tools</l><br>
    <l>Coding in python</l>
</ul>

<p>Some of the popular languages that data scientists use are:</p>
<ol><l>python</l><br>
    <l>R</l><br>
    <l>Scala</l><br>
    <l>Julia</l>
</ol>

<P>Some of the commonly used libraries used by Data Scientist include:</P>
<ol>
    <l>Numpy</l><br>
    <l>Scikitlearn</l><br>
    <l>Matplotlib</l><br>
    <l>Pandas</l>
</ol>

<table>
    <thead>
        <tr>
            <th><h1>Data Science tools</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jupyter lab</td>
        </tr>
        <tr>
            <td>Anaconda</td>
        </tr>
        <tr>
            <td>Apache spark</td>
        </tr>
        <tr>
            <td> Apache Hadoop</td>
        </tr>
        <tr>
            <td>IBM Watson studio</td>
        </tr>
    </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in python</h3>

In [6]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

<h2>Author</h2><br><b>Olaoluwa Ayomide</b>